In [1]:
import os
import pandas as pd
import dataframe_image as dfi
from PIL import Image, ImageDraw, ImageFont
import gcd_table_sequential
import gcd_table

In [2]:
# # example from:
# #  https://win-vector.com/2024/10/06/dudeneys-remainder-problem/
# soln = gcd_table_sequential.build_gcd_table_filled(
#     508811 - 480608, 
#     723217 - 480608,
#     verbose=True)

# example from:
#  https://win-vector.com/2024/11/01/the-monkey-and-the-coconuts-an-introduction-to-the-extended-euclidean-algorithm/
soln = gcd_table.build_gcd_table_filled(
    15625, 
    2,
    verbose=True)

'build row 0: start (a >= b)'

'build row 1: a[1]=b[0], b[1]=(a%b)[0]'

'finish with row 2: a[2]=b[1], b[2]=(a%b)[1], GCD= a[2]'

'back fill row 2: u[2]=1, v[2]=0'

'back fill row 1: u[1]=v[2], v[1] = u[2] - (a//b)[1] * v[2]'

'back fill row 0: u[0]=v[1], v[0] = u[1] - (a//b)[0] * v[1]'

In [3]:

tables = list(soln.attrs['captured_tables'])  # new list, so we can append without side effects

In [4]:
# convert tables to images
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    # convert to PNG
    dfi.export(t, file_name, dpi=600)

In [5]:
# add annotation notes
font = ImageFont.load_default(size=50)
text_position = (50, 10)  # x, y coordinates for the text
text_color = (0, 0, 0)
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    file_name_out = f'dataframe_annotated_{i:04d}.png'
    note = t.data.attrs['note']
    # add in text or copy image  
    image = Image.open(file_name)
    draw = ImageDraw.Draw(image)
    if note is not None:
        draw.text(text_position, note, fill=text_color, font=font)
    image.save(file_name_out)

Then convert at the command line with:

```
ffmpeg -framerate 0.5 -i dataframe_annotated_%04d.png -c:v libx264 -r 30 -pix_fmt yuv420p MonkeyCoco.mp4
```

In [6]:
!ffmpeg -framerate 0.5 -i dataframe_annotated_%04d.png -c:v libx264 -r 30 -pix_fmt yuv420p MonkeyCoco.mp4

ffmpeg version 5.1.2 Copyright (c) 2000-2022 the FFmpeg developers
  built with Apple clang version 14.0.0 (clang-1400.0.29.202)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/5.1.2_6 --enable-shared --enable-pthreads --enable-version3 --cc=clang --host-cflags= --host-ldflags= --enable-ffplay --enable-gnutls --enable-gpl --enable-libaom --enable-libaribb24 --enable-libbluray --enable-libdav1d --enable-libmp3lame --enable-libopus --enable-librav1e --enable-librist --enable-librubberband --enable-libsnappy --enable-libsrt --enable-libsvtav1 --enable-libtesseract --enable-libtheora --enable-libvidstab --enable-libvmaf --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxml2 --enable-libxvid --enable-lzma --enable-libfontconfig --enable-libfreetype --enable-frei0r --enable-libass --enable-libopencore-amrnb --enable-libopencore-amrwb --enable-libopenjpeg --enable-libspeex --enable-libsoxr --enable-libzmq --enable-libzimg --disable-libjack --disable-indev=jack --enable-videotoolbox
  libavutil      57. 28.100 / 57. 28.100
  libavcodec     59. 37.100 / 59. 37.100
  libavformat    59. 27.100 / 59. 27.100
  libavdevice    59.  7.100 / 59.  7.100
  libavfilter     8. 44.100 /  8. 44.100
  libswscale      6.  7.100 /  6.  7.100
  libswresample   4.  7.100 /  4.  7.100
  libpostproc    56.  6.100 / 56.  6.100
Input #0, image2, from 'dataframe_annotated_%04d.png':
  Duration: 00:00:12.00, start: 0.000000, bitrate: N/A
  Stream #0:0: Video: png, rgb24(pc), 1602x762, 0.50 fps, 0.50 tbr, 0.50 tbn
Stream mapping:
  Stream #0:0 -> #0:0 (png (native) -> h264 (libx264))
Press [q] to stop, [?] for help
[libx264 @ 0x7fb708807bc0] using cpu capabilities: MMX2 SSE2Fast SSSE3 SSE4.2 AVX FMA3 BMI2 AVX2
[libx264 @ 0x7fb708807bc0] profile High, level 3.2, 4:2:0, 8-bit
[libx264 @ 0x7fb708807bc0] 264 - core 164 r3095 baee400 - H.264/MPEG-4 AVC codec - Copyleft 2003-2022 - http://www.videolan.org/x264.html - options: cabac=1 ref=3 deblock=1:0:0 analyse=0x3:0x113 me=hex subme=7 psy=1 psy_rd=1.00:0.00 mixed_ref=1 me_range=16 chroma_me=1 trellis=1 8x8dct=1 cqm=0 deadzone=21,11 fast_pskip=1 chroma_qp_offset=-2 threads=9 lookahead_threads=1 sliced_threads=0 nr=0 decimate=1 interlaced=0 bluray_compat=0 constrained_intra=0 bframes=3 b_pyramid=2 b_adapt=1 b_bias=0 direct=1 weightb=1 open_gop=0 weightp=2 keyint=250 keyint_min=25 scenecut=40 intra_refresh=0 rc_lookahead=40 rc=crf mbtree=1 crf=23.0 qcomp=0.60 qpmin=0 qpmax=69 qpstep=4 ip_ratio=1.40 aq=1:1.00
Output #0, mp4, to 'MonkeyCoco.mp4':
  Metadata:
    encoder         : Lavf59.27.100
  Stream #0:0: Video: h264 (avc1 / 0x31637661), yuv420p(tv, progressive), 1602x762, q=2-31, 30 fps, 15360 tbn
    Metadata:
      encoder         : Lavc59.37.100 libx264
    Side data:
      cpb: bitrate max/min/avg: 0/0/0 buffer size: 0 vbv_delay: N/A
frame=  360 fps=340 q=-1.0 Lsize=     143kB time=00:00:11.90 bitrate=  98.2kbits/s dup=354 drop=0 speed=11.2x
video:138kB audio:0kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 3.667882%
[libx264 @ 0x7fb708807bc0] frame I:2     Avg QP:18.17  size: 24357
[libx264 @ 0x7fb708807bc0] frame P:90    Avg QP:18.18  size:   770
[libx264 @ 0x7fb708807bc0] frame B:268   Avg QP:25.23  size:    83
[libx264 @ 0x7fb708807bc0] consecutive B-frames:  0.6%  0.0%  1.7% 97.8%
[libx264 @ 0x7fb708807bc0] mb I  I16..4: 30.0% 58.3% 11.7%
[libx264 @ 0x7fb708807bc0] mb P  I16..4:  0.3%  1.0%  0.2%  P16..4:  0.2%  0.1%  0.1%  0.0%  0.0%    skip:98.2%
[libx264 @ 0x7fb708807bc0] mb B  I16..4:  0.0%  0.1%  0.0%  B16..8:  0.5%  0.0%  0.0%  direct: 0.0%  skip:99.3%  L0:63.1% L1:36.9% BI: 0.0%
[libx264 @ 0x7fb708807bc0] 8x8 transform intra:63.5% inter:14.6%
[libx264 @ 0x7fb708807bc0] coded y,uvDC,uvAC intra: 7.2% 3.3% 3.0% inter: 0.0% 0.0% 0.0%
[libx264 @ 0x7fb708807bc0] i16 v,h,dc,p: 64% 35%  1%  0%
[libx264 @ 0x7fb708807bc0] i8 v,h,dc,ddl,ddr,vr,hd,vl,hu: 45%  9% 45%  0%  0%  0%  0%  0%  0%
[libx264 @ 0x7fb708807bc0] i4 v,h,dc,ddl,ddr,vr,hd,vl,hu: 42% 19% 18%  4%  2%  4%  2%  6%  2%
[libx264 @ 0x7fb708807bc0] i8c dc,h,v,p: 87%  7%  6%  0%
[libx264 @ 0x7fb708807bc0] Weighted P-Frames: Y:0.0% UV:0.0%
[libx264 @ 0x7fb708807bc0] ref P L0: 78.3%  7.2% 13.2%  1.3%
[libx264 @ 0x7fb708807bc0] ref B L0: 71.5% 28.2%  0.4%
[libx264 @ 0x7fb708807bc0] ref B L1: 93.8%  6.2%
[libx264 @ 0x7fb708807bc0] kb/s:93.49

In [7]:
# clean up
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    file_name_out = f'dataframe_annotated_{i:04d}.png'
    os.remove(file_name)
    os.remove(file_name_out)