In [1]:
import os
import pandas as pd
import dataframe_image as dfi
from PIL import Image, ImageDraw, ImageFont
from gcd_table import build_gcd_table_filled

In [2]:
# example from:
#  https://win-vector.com/2024/10/06/dudeneys-remainder-problem/
soln = build_gcd_table_filled(
    508811 - 480608, 
    723217 - 480608,
    verbose=True)

'build row 0: start (a >= b)'

'build row 1: a[1]=b[0], b[1]=(a%b)[0]'

'build row 2: a[2]=b[1], b[2]=(a%b)[1]'

'build row 3: a[3]=b[2], b[3]=(a%b)[2]'

'build row 4: a[4]=b[3], b[4]=(a%b)[3]'

'build row 5: a[5]=b[4], b[5]=(a%b)[4]'

'build row 6: a[6]=b[5], b[6]=(a%b)[5]'

'finish with row 7: a[7]=b[6], b[7]=(a%b)[6], GCD= a[7]'

'back fill row 7: u[7]=1, v[7]=0'

'back fill row 6: u[6]=v[7], v[6] = u[7] - (a//b)[6] * v[7]'

'back fill row 5: u[5]=v[6], v[5] = u[6] - (a//b)[5] * v[6]'

'back fill row 4: u[4]=v[5], v[4] = u[5] - (a//b)[4] * v[5]'

'back fill row 3: u[3]=v[4], v[3] = u[4] - (a//b)[3] * v[4]'

'back fill row 2: u[2]=v[3], v[2] = u[3] - (a//b)[2] * v[3]'

'back fill row 1: u[1]=v[2], v[1] = u[2] - (a//b)[1] * v[2]'

'back fill row 0: u[0]=v[1], v[0] = u[1] - (a//b)[0] * v[1]'

In [3]:

tables = list(soln.attrs['captured_tables'])  # new list, so we can append without side effects

In [4]:
soln['u * a + v * b'] = soln['u'] * soln['a'] + soln['v'] * soln['b']
soln.attrs['note'] = "Show Bezout's identity."

def highlight_col(x):
    return ['background-color: yellow; font-weight: bold' if col_name == 'u * a + v * b' else '' for col_name in x.index]


tables.append(soln.style.apply(highlight_col, axis=1))

In [5]:
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    # convert to PNG
    dfi.export(t, file_name, dpi=600)

In [6]:
# add annotation notes
font = ImageFont.load_default(size=50)
text_position = (50, 10)  # x, y coordinates for the text
text_color = (0, 0, 0)
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    file_name_out = f'dataframe_annotated_{i:04d}.png'
    note = t.data.attrs['note']
    # add in text or copy image  
    image = Image.open(file_name)
    draw = ImageDraw.Draw(image)
    if note is not None:
        draw.text(text_position, note, fill=text_color, font=font)
    image.save(file_name_out)

Then convert at the command line with:

```
ffmpeg -framerate 0.5 -i dataframe_annotated_%04d.png -c:v libx264 -r 30 -pix_fmt yuv420p RemainderProblem.mp4
```

In [7]:
!ffmpeg -framerate 0.5 -i dataframe_annotated_%04d.png -c:v libx264 -r 30 -pix_fmt yuv420p RemainderProblem.mp4

ffmpeg version 5.1.2 Copyright (c) 2000-2022 the FFmpeg developers
  built with Apple clang version 14.0.0 (clang-1400.0.29.202)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/5.1.2_6 --enable-shared --enable-pthreads --enable-version3 --cc=clang --host-cflags= --host-ldflags= --enable-ffplay --enable-gnutls --enable-gpl --enable-libaom --enable-libaribb24 --enable-libbluray --enable-libdav1d --enable-libmp3lame --enable-libopus --enable-librav1e --enable-librist --enable-librubberband --enable-libsnappy --enable-libsrt --enable-libsvtav1 --enable-libtesseract --enable-libtheora --enable-libvidstab --enable-libvmaf --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxml2 --enable-libxvid --enable-lzma --enable-libfontconfig --enable-libfreetype --enable-frei0r --enable-libass --enable-libopencore-amrnb --enable-libopencore-amrwb --enable-libopenjpeg --enable-libspeex --enable-libsoxr --enable-libzmq --enable-libzimg --disable-libjack --disable-indev=jack --enable-videotoolbox
  libavutil      57. 28.100 / 57. 28.100
  libavcodec     59. 37.100 / 59. 37.100
  libavformat    59. 27.100 / 59. 27.100
  libavdevice    59.  7.100 / 59.  7.100
  libavfilter     8. 44.100 /  8. 44.100
  libswscale      6.  7.100 /  6.  7.100
  libswresample   4.  7.100 /  4.  7.100
  libpostproc    56.  6.100 / 56.  6.100
Input #0, image2, from 'dataframe_annotated_%04d.png':
  Duration: 00:00:34.00, start: 0.000000, bitrate: N/A
  Stream #0:0: Video: png, rgb24(pc), 1856x1692, 0.50 fps, 0.50 tbr, 0.50 tbn
Stream mapping:
  Stream #0:0 -> #0:0 (png (native) -> h264 (libx264))
Press [q] to stop, [?] for help
[libx264 @ 0x7fd8a39071c0] using cpu capabilities: MMX2 SSE2Fast SSSE3 SSE4.2 AVX FMA3 BMI2 AVX2
[libx264 @ 0x7fd8a39071c0] profile High, level 5.0, 4:2:0, 8-bit
[libx264 @ 0x7fd8a39071c0] 264 - core 164 r3095 baee400 - H.264/MPEG-4 AVC codec - Copyleft 2003-2022 - http://www.videolan.org/x264.html - options: cabac=1 ref=3 deblock=1:0:0 analyse=0x3:0x113 me=hex subme=7 psy=1 psy_rd=1.00:0.00 mixed_ref=1 me_range=16 chroma_me=1 trellis=1 8x8dct=1 cqm=0 deadzone=21,11 fast_pskip=1 chroma_qp_offset=-2 threads=9 lookahead_threads=1 sliced_threads=0 nr=0 decimate=1 interlaced=0 bluray_compat=0 constrained_intra=0 bframes=3 b_pyramid=2 b_adapt=1 b_bias=0 direct=1 weightb=1 open_gop=0 weightp=2 keyint=250 keyint_min=25 scenecut=40 intra_refresh=0 rc_lookahead=40 rc=crf mbtree=1 crf=23.0 qcomp=0.60 qpmin=0 qpmax=69 qpstep=4 ip_ratio=1.40 aq=1:1.00
Output #0, mp4, to 'RemainderProblem.mp4':
  Metadata:
    encoder         : Lavf59.27.100
  Stream #0:0: Video: h264 (avc1 / 0x31637661), yuv420p(tv, progressive), 1856x1692, q=2-31, 30 fps, 15360 tbn
    Metadata:
      encoder         : Lavc59.37.100 libx264
    Side data:
      cpb: bitrate max/min/avg: 0/0/0 buffer size: 0 vbv_delay: N/A
More than 1000 frames duplicated2kB time=00:00:30.13 bitrate= 139.2kbits/s dup=944 drop=0 speed=5.05x
frame= 1020 fps=147 q=-1.0 Lsize=     786kB time=00:00:33.90 bitrate= 190.0kbits/s dup=1003 drop=0 speed=4.89x
video:773kB audio:0kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 1.651122%
[libx264 @ 0x7fd8a39071c0] frame I:5     Avg QP:16.61  size: 68383
[libx264 @ 0x7fd8a39071c0] frame P:257   Avg QP:18.00  size:  1277
[libx264 @ 0x7fd8a39071c0] frame B:758   Avg QP:26.28  size:   160
[libx264 @ 0x7fd8a39071c0] consecutive B-frames:  0.9%  0.0%  0.3% 98.8%
[libx264 @ 0x7fd8a39071c0] mb I  I16..4: 28.3% 59.7% 12.1%
[libx264 @ 0x7fd8a39071c0] mb P  I16..4:  0.3%  0.4%  0.1%  P16..4:  0.2%  0.1%  0.1%  0.0%  0.0%    skip:98.9%
[libx264 @ 0x7fd8a39071c0] mb B  I16..4:  0.0%  0.1%  0.0%  B16..8:  0.4%  0.0%  0.0%  direct: 0.0%  skip:99.4%  L0:59.5% L1:40.5% BI: 0.0%
[libx264 @ 0x7fd8a39071c0] 8x8 transform intra:59.5% inter:18.2%
[libx264 @ 0x7fd8a39071c0] coded y,uvDC,uvAC intra: 7.4% 3.3% 3.1% inter: 0.0% 0.0% 0.0%
[libx264 @ 0x7fd8a39071c0] i16 v,h,dc,p: 63% 37%  0%  0%
[libx264 @ 0x7fd8a39071c0] i8 v,h,dc,ddl,ddr,vr,hd,vl,hu: 50% 11% 38%  0%  0%  0%  0%  0%  0%
[libx264 @ 0x7fd8a39071c0] i4 v,h,dc,ddl,ddr,vr,hd,vl,hu: 41% 19% 17%  5%  3%  4%  3%  6%  2%
[libx264 @ 0x7fd8a39071c0] i8c dc,h,v,p: 90%  5%  4%  0%
[libx264 @ 0x7fd8a39071c0] Weighted P-Frames: Y:0.0% UV:0.0%
[libx264 @ 0x7fd8a39071c0] ref P L0: 85.0%  6.7%  7.4%  0.8%
[libx264 @ 0x7fd8a39071c0] ref B L0: 62.9% 36.1%  1.0%
[libx264 @ 0x7fd8a39071c0] ref B L1: 95.8%  4.2%
[libx264 @ 0x7fd8a39071c0] kb/s:186.19

In [8]:
# clean up
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    file_name_out = f'dataframe_annotated_{i:04d}.png'
    os.remove(file_name)
    os.remove(file_name_out)