In [1]:
import os
import pandas as pd
import dataframe_image as dfi
from PIL import Image, ImageDraw, ImageFont
from gcd_table_sequential import build_gcd_table_filled

In [2]:
# example from:
#  https://win-vector.com/2024/10/06/dudeneys-remainder-problem/
soln = build_gcd_table_filled(
    508811 - 480608, 
    723217 - 480608,
    verbose=True)

'Initial table'

'build row 2: r[2] = r[0] % r[1], q[2] = r[0] // r[1]'

'build row 3: r[3] = r[1] % r[2], q[3] = r[1] // r[2]'

'build row 4: r[4] = r[2] % r[3], q[4] = r[2] // r[3]'

'build row 5: r[5] = r[3] % r[4], q[5] = r[3] // r[4]'

'build row 6: r[6] = r[4] % r[5], q[6] = r[4] // r[5]'

'build row 7: r[7] = r[5] % r[6], q[7] = r[5] // r[6]'

'build row 8: r[8] = r[6] % r[7], q[8] = r[6] // r[7]'

'fill row 8: u[8]=1, v[8]=0'

'back fill row 7: u[7]=v[8], v[7] = u[8] - q[8] * v[8]'

'back fill row 6: u[6]=v[7], v[6] = u[7] - q[7] * v[7]'

'back fill row 5: u[5]=v[6], v[5] = u[6] - q[6] * v[6]'

'back fill row 4: u[4]=v[5], v[4] = u[5] - q[5] * v[5]'

'back fill row 3: u[3]=v[4], v[3] = u[4] - q[4] * v[4]'

'back fill row 2: u[2]=v[3], v[2] = u[3] - q[3] * v[3]'

'back fill row 1: u[1]=v[2], v[1] = u[2] - q[2] * v[2]'

In [3]:

tables = list(soln.attrs['captured_tables'])  # new list, so we can append without side effects

In [4]:
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    # convert to PNG
    dfi.export(t, file_name, dpi=600)

In [5]:
# add annotation notes
font = ImageFont.load_default(size=50)
text_position = (50, 10)  # x, y coordinates for the text
text_color = (0, 0, 0)
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    file_name_out = f'dataframe_annotated_{i:04d}.png'
    note = t.data.attrs['note']
    # add in text or copy image  
    image = Image.open(file_name)
    draw = ImageDraw.Draw(image)
    if note is not None:
        draw.text(text_position, note, fill=text_color, font=font)
    image.save(file_name_out)

Then convert at the command line with:

```
ffmpeg -framerate 0.5 -i dataframe_annotated_%04d.png -c:v libx264 -r 30 -pix_fmt yuv420p RemainderProblemSeq.mp4
```

In [6]:
!ffmpeg -framerate 0.5 -i dataframe_annotated_%04d.png -c:v libx264 -r 30 -pix_fmt yuv420p RemainderProblemSeq.mp4

ffmpeg version 5.1.2 Copyright (c) 2000-2022 the FFmpeg developers
  built with Apple clang version 14.0.0 (clang-1400.0.29.202)
  configuration: --prefix=/usr/local/Cellar/ffmpeg/5.1.2_6 --enable-shared --enable-pthreads --enable-version3 --cc=clang --host-cflags= --host-ldflags= --enable-ffplay --enable-gnutls --enable-gpl --enable-libaom --enable-libaribb24 --enable-libbluray --enable-libdav1d --enable-libmp3lame --enable-libopus --enable-librav1e --enable-librist --enable-librubberband --enable-libsnappy --enable-libsrt --enable-libsvtav1 --enable-libtesseract --enable-libtheora --enable-libvidstab --enable-libvmaf --enable-libvorbis --enable-libvpx --enable-libwebp --enable-libx264 --enable-libx265 --enable-libxml2 --enable-libxvid --enable-lzma --enable-libfontconfig --enable-libfreetype --enable-frei0r --enable-libass --enable-libopencore-amrnb --enable-libopencore-amrwb --enable-libopenjpeg --enable-libspeex --enable-libsoxr --enable-libzmq --enable-libzimg --disable-libjack --disable-indev=jack --enable-videotoolbox
  libavutil      57. 28.100 / 57. 28.100
  libavcodec     59. 37.100 / 59. 37.100
  libavformat    59. 27.100 / 59. 27.100
  libavdevice    59.  7.100 / 59.  7.100
  libavfilter     8. 44.100 /  8. 44.100
  libswscale      6.  7.100 /  6.  7.100
  libswresample   4.  7.100 /  4.  7.100
  libpostproc    56.  6.100 / 56.  6.100
Input #0, image2, from 'dataframe_annotated_%04d.png':
  Duration: 00:00:32.00, start: 0.000000, bitrate: N/A
  Stream #0:0: Video: png, rgb24(pc), 2878x1878, 0.50 fps, 0.50 tbr, 0.50 tbn
Stream mapping:
  Stream #0:0 -> #0:0 (png (native) -> h264 (libx264))
Press [q] to stop, [?] for help
[libx264 @ 0x7fb15c009040] using cpu capabilities: MMX2 SSE2Fast SSSE3 SSE4.2 AVX FMA3 BMI2 AVX2
[libx264 @ 0x7fb15c009040] profile High, level 5.1, 4:2:0, 8-bit
[libx264 @ 0x7fb15c009040] 264 - core 164 r3095 baee400 - H.264/MPEG-4 AVC codec - Copyleft 2003-2022 - http://www.videolan.org/x264.html - options: cabac=1 ref=3 deblock=1:0:0 analyse=0x3:0x113 me=hex subme=7 psy=1 psy_rd=1.00:0.00 mixed_ref=1 me_range=16 chroma_me=1 trellis=1 8x8dct=1 cqm=0 deadzone=21,11 fast_pskip=1 chroma_qp_offset=-2 threads=9 lookahead_threads=1 sliced_threads=0 nr=0 decimate=1 interlaced=0 bluray_compat=0 constrained_intra=0 bframes=3 b_pyramid=2 b_adapt=1 b_bias=0 direct=1 weightb=1 open_gop=0 weightp=2 keyint=250 keyint_min=25 scenecut=40 intra_refresh=0 rc_lookahead=40 rc=crf mbtree=1 crf=23.0 qcomp=0.60 qpmin=0 qpmax=69 qpstep=4 ip_ratio=1.40 aq=1:1.00
Output #0, mp4, to 'RemainderProblemSeq.mp4':
  Metadata:
    encoder         : Lavf59.27.100
  Stream #0:0: Video: h264 (avc1 / 0x31637661), yuv420p(tv, progressive), 2878x1878, q=2-31, 30 fps, 15360 tbn
    Metadata:
      encoder         : Lavc59.37.100 libx264
    Side data:
      cpb: bitrate max/min/avg: 0/0/0 buffer size: 0 vbv_delay: N/A
frame=  960 fps= 92 q=-1.0 Lsize=     477kB time=00:00:31.90 bitrate= 122.6kbits/s dup=944 drop=0 speed=3.07x
video:465kB audio:0kB subtitle:0kB other streams:0kB global headers:0kB muxing overhead: 2.596092%
[libx264 @ 0x7fb15c009040] frame I:4     Avg QP:16.65  size: 32711
[libx264 @ 0x7fb15c009040] frame P:242   Avg QP:17.76  size:   841
[libx264 @ 0x7fb15c009040] frame B:714   Avg QP:26.38  size:   198
[libx264 @ 0x7fb15c009040] consecutive B-frames:  0.8%  0.0%  0.0% 99.2%
[libx264 @ 0x7fb15c009040] mb I  I16..4: 25.6% 71.1%  3.3%
[libx264 @ 0x7fb15c009040] mb P  I16..4:  0.5%  0.3%  0.0%  P16..4:  0.0%  0.0%  0.0%  0.0%  0.0%    skip:99.1%
[libx264 @ 0x7fb15c009040] mb B  I16..4:  0.0%  0.0%  0.0%  B16..8:  0.3%  0.0%  0.0%  direct: 0.0%  skip:99.7%  L0:62.7% L1:37.3% BI: 0.0%
[libx264 @ 0x7fb15c009040] 8x8 transform intra:61.6% inter:10.0%
[libx264 @ 0x7fb15c009040] coded y,uvDC,uvAC intra: 2.3% 1.4% 1.3% inter: 0.0% 0.0% 0.0%
[libx264 @ 0x7fb15c009040] i16 v,h,dc,p: 70% 30%  0%  0%
[libx264 @ 0x7fb15c009040] i8 v,h,dc,ddl,ddr,vr,hd,vl,hu: 53% 14% 33%  0%  0%  0%  0%  0%  0%
[libx264 @ 0x7fb15c009040] i4 v,h,dc,ddl,ddr,vr,hd,vl,hu: 37% 22% 21%  4%  3%  3%  3%  5%  3%
[libx264 @ 0x7fb15c009040] i8c dc,h,v,p: 92%  6%  1%  0%
[libx264 @ 0x7fb15c009040] Weighted P-Frames: Y:0.0% UV:0.0%
[libx264 @ 0x7fb15c009040] ref P L0: 84.7%  7.0%  7.4%  0.9%
[libx264 @ 0x7fb15c009040] ref B L0: 60.1% 39.7%  0.3%
[libx264 @ 0x7fb15c009040] ref B L1: 97.7%  2.3%
[libx264 @ 0x7fb15c009040] kb/s:118.94

In [7]:
# clean up
for i, t in enumerate(tables):
    file_name = f'dataframe_{i:04d}.png'
    file_name_out = f'dataframe_annotated_{i:04d}.png'
    os.remove(file_name)
    os.remove(file_name_out)