In our article on [Dudeneyâ€™s Catching The Mice Puzzle](https://win-vector.com/2024/10/11/dudeneys-catching-the-mice-puzzle/) we claimed a mathematician such as Dudeney could use the [Chinese Remainder Theorem (CRT)](https://en.wikipedia.org/wiki/Chinese_remainder_theorem) to solve for some of the magic integers needed to build solutions.

Let's show that at a "pencil and paper level" here.

In [1]:
import pandas as pd
from IPython.display import display, Markdown
from gcd_table import build_gcd_table_filled

Everything follows if we find integers <code>n<sub>a, b, c</sub></code> such that:

  * <code>n<sub>a, b, c</sub> &Congruent; a mod 11</code>
  * <code>n<sub>a, b, c</sub> &Congruent; b mod 12</code>
  * <code>n<sub>a, b, c</sub> &Congruent; a mod 13 </code>

for arbitrary <code>a, b, c</code>.

<code>(a, b, c)</code> values used in the note included:

  * `(1, 0, -1)`
  * `(-1, 1, 0)`
  * `(0, 0, 11)`
  * `(10, 1, 12)`
  * `(10, 0, 2)`
  * `(10, 1, 1)`

Let's solve for the following basis for all such patterns:

  * `(1, 0, 0)`
  * `(0, 1, 0)`
  * `(0, 0, 1)`

As one can work out how to build up other solutions from these working modulo `11 * 12 * 13 = 1716`

The idea is as follows. If: <code>u * a + v * b = 1</code>, for integers <code>a, b, u, v</code> then:

  * <code>u * a</code> is congruent to <code>0</code> modulo <code>a</code> and congruent to <code>1</code> modulo <code>b</code>.

Let's apply this.

In [2]:
common_modulus = 11 * 12 * 13  # this is the least common multiple of 11, 12, 13

common_modulus

1716

In [3]:
# solve for (1, 0 ,0)
tbl_1_0_0 = build_gcd_table_filled(12 * 13, 11)

tbl_1_0_0

     a   b  a%b a//b  GCD(a, b)   u   v
0  156  11    2   14          1  -5  71
1   11   2    1    5          1   1  -5
2    2   1    0    2          1   0   1
3    1   0  N/A  N/A          1   1   0

In our [Monkey and Coconuts](Monkey_and_Coconuts.ipynb) article we show how to fill in such tables by hand.

In [4]:
# pull out solution
n_1_0_0 = (tbl_1_0_0.loc[0, 'u'] * tbl_1_0_0.loc[0, 'a']) % common_modulus

n_1_0_0

936

In [5]:
# confirm solution
assert (n_1_0_0 % 11, n_1_0_0 % 12, n_1_0_0 % 13) == (1, 0, 0)

(n_1_0_0 % 11, n_1_0_0 % 12, n_1_0_0 % 13)

(1, 0, 0)

In [6]:
# solve for (0, 1 ,0)
tbl_0_1_0 = build_gcd_table_filled(11 * 13, 12)

tbl_0_1_0

     a   b  a%b a//b  GCD(a, b)   u   v
0  143  12   11   11          1  -1  12
1   12  11    1    1          1   1  -1
2   11   1    0   11          1   0   1
3    1   0  N/A  N/A          1   1   0

In [7]:
# pull out solution
n_0_1_0 = (tbl_0_1_0.loc[0, 'u'] * tbl_0_1_0.loc[0, 'a']) % common_modulus

n_0_1_0

1573

In [8]:
# confirm solution
assert (n_0_1_0 % 11, n_0_1_0 % 12, n_0_1_0 % 13) == (0, 1, 0)

(n_0_1_0 % 11, n_0_1_0 % 12, n_0_1_0 % 13)

(0, 1, 0)

In [9]:
# solve for (0, 0, 1)
tbl_0_0_1 = build_gcd_table_filled(11 * 12, 13)

tbl_0_0_1

     a   b  a%b a//b  GCD(a, b)   u   v
0  132  13    2   10          1  -6  61
1   13   2    1    6          1   1  -6
2    2   1    0    2          1   0   1
3    1   0  N/A  N/A          1   1   0

In [10]:
# pull out solution
n_0_0_1 = (tbl_0_0_1.loc[0, 'u'] * tbl_0_0_1.loc[0, 'a']) % common_modulus

n_0_0_1

924

In [11]:
# confirm solution
assert (n_0_0_1 % 11, n_0_0_1 % 12, n_0_0_1 % 13) == (0, 0, 1)

(n_0_0_1 % 11, n_0_0_1 % 12, n_0_0_1 % 13)

(0, 0, 1)

Now that we have these basic solutions we can build all the others by just adding stuff up to match the subscripts. The fact the integers modulo the common modulus and the vectors modulo their coordinate moduli have the same additive structure is part of the content of the CRT.

Let's confirm this.

In [12]:
patterns_to_check = [
    (1, 0, -1),
    (-1, 1, 0),
    (0, 0, 11),
    (10, 1, 12),
    (10, 0, 2),
    (10, 1, 1),
    (1, 0, 0),
    (0, 1, 0),
    (0, 0, 1),
]

for p in patterns_to_check:
    soln = (p[0] * n_1_0_0 + p[1] * n_0_1_0 + p[2] * n_0_0_1) % common_modulus
    print(f"pattern: {p} -> solution: {soln}")
    assert (soln % 11, soln % 12, soln % 13) == (p[0] % 11, p[1] % 12, p[2] % 13)

pattern: (1, 0, -1) -> solution: 12
pattern: (-1, 1, 0) -> solution: 637
pattern: (0, 0, 11) -> solution: 1584
pattern: (10, 1, 12) -> solution: 1429
pattern: (10, 0, 2) -> solution: 912
pattern: (10, 1, 1) -> solution: 1561
pattern: (1, 0, 0) -> solution: 936
pattern: (0, 1, 0) -> solution: 1573
pattern: (0, 0, 1) -> solution: 924