### Dudeney’s Remainder Problem

We previously shared another gcd problem: [Dudeney’s Remainder Problem](https://win-vector.com/2024/10/06/dudeneys-remainder-problem/).

The above method shows how to calculate a solution to that problem on paper. We can get the answer (79) by filling in a single 8 row table (which we illustrate here by displaying multiple tables). Notice how each row is produced by computing a remainder, and then the first two columns of the next row are just the second two columns of the previous row copied down.

In [1]:
from gcd_table import build_gcd_table, build_gcd_table_filled

In [2]:
# example from:
#  https://win-vector.com/2024/10/06/dudeneys-remainder-problem/
_ = build_gcd_table(
    508811 - 480608, 
    723217 - 480608,
    verbose=True)

'build row 0: start (a > b)'

'build row 1: a[1]=b[0], b[1]=(a%b)[0]'

'build row 2: a[2]=b[1], b[2]=(a%b)[1]'

'build row 3: a[3]=b[2], b[3]=(a%b)[2]'

'build row 4: a[4]=b[3], b[4]=(a%b)[3]'

'build row 5: a[5]=b[4], b[5]=(a%b)[4]'

'build row 6: a[6]=b[5], b[6]=(a%b)[5]'

'finish with row 7: a[7]=b[6], b[7]=(a%b)[6], GCD= a[7]'

An animation of these steps (plus the backfill steps, without sound or commentary) is available [here](https://www.youtube.com/shorts/Kd_4gW7a1Oc).