### Dudeney’s Remainder Problem

We previously shared another gcd problem: [Dudeney’s Remainder Problem](https://win-vector.com/2024/10/06/dudeneys-remainder-problem/).

The above method shows how to calculate a solution to that problem on paper. We can get the answer (79) by filling in a single 8 row table (which we illustrate here by displaying multiple tables). Notice how each row is produced by computing a remainder, and then the first two columns of the next row are just the second two columns of the previous row copied down.

In [1]:
from gcd_table import build_gcd_table

In [2]:
# example from:
#  https://win-vector.com/2024/10/06/dudeneys-remainder-problem/
_ = build_gcd_table(
    508811 - 480608, 
    723217 - 480608,
    add_quotients=False,
    verbose=True)

'build row 0'

'build row 1'

'build row 2'

'build row 3'

'build row 4'

'build row 5'

'build row 6'

'finish with row 7'

An animation of these steps (plus the backfill steps, without sound or commentary) is available [here](https://www.youtube.com/shorts/Kd_4gW7a1Oc).