### Dudeney’s Remainder Problem

We previously shared another gcd problem: [Dudeney’s Remainder Problem](https://win-vector.com/2024/10/06/dudeneys-remainder-problem/).

The above method shows how to calculate a solution to that problem on paper. We can get the answer (79) by filling in a single 8 row table (which we illustrate here by displaying multiple tables). Notice how each row is produced by computing a remainder, and then the first two columns of the next row are just the second two columns of the previous row copied down.

In [1]:
import numpy as np
from gcd_table_sequential import build_gcd_table, build_gcd_table_filled

In [2]:
# example from:
#  https://win-vector.com/2024/10/06/dudeneys-remainder-problem/
x = 480608
y = 508811
z = 723217

In [3]:
a = z - x

a

242609

In [4]:
b = y - x

b

28203

To find the greatest common divisor of `a, b` one would build a GCD table as follows. The greatest common divisor is the last non-zero value of `r` (found in the penultimate row).

In [5]:
soln_1 = build_gcd_table(a, b, record_q=False, verbose=True)

'Initial table'

'build row 2: r[2] = r[0] % r[1], q[2] = r[0] // r[1]'

'build row 3: r[3] = r[1] % r[2], q[3] = r[1] // r[2]'

'build row 4: r[4] = r[2] % r[3], q[4] = r[2] // r[3]'

'build row 5: r[5] = r[3] % r[4], q[5] = r[3] // r[4]'

'build row 6: r[6] = r[4] % r[5], q[6] = r[4] // r[5]'

'build row 7: r[7] = r[5] % r[6], q[7] = r[5] // r[6]'

'build row 8: r[8] = r[6] % r[7], q[8] = r[6] // r[7]'

And we have our greatest common divisor.

In [6]:
soln_1.attrs['gcd']

79

We can also find what integer combination of `a, b` is equal to the greatest common divisor. This is called the extended euclidean algorithm, and has a bit more bookkeeping. This wasn't needed for the original puzzle solution, but it is fun to see all the steps in action.

In [7]:

soln = build_gcd_table_filled(a, b, verbose=True)

'Initial table'

'build row 2: r[2] = r[0] % r[1], q[2] = r[0] // r[1]'

'build row 3: r[3] = r[1] % r[2], q[3] = r[1] // r[2]'

'build row 4: r[4] = r[2] % r[3], q[4] = r[2] // r[3]'

'build row 5: r[5] = r[3] % r[4], q[5] = r[3] // r[4]'

'build row 6: r[6] = r[4] % r[5], q[6] = r[4] // r[5]'

'build row 7: r[7] = r[5] % r[6], q[7] = r[5] // r[6]'

'build row 8: r[8] = r[6] % r[7], q[8] = r[6] // r[7]'

'fill row 8: u[8]=1, v[8]=0'

'back fill row 7: u[7]=v[8], v[7] = u[8] - q[8] * v[8]'

'back fill row 6: u[6]=v[7], v[6] = u[7] - q[7] * v[7]'

'back fill row 5: u[5]=v[6], v[5] = u[6] - q[6] * v[6]'

'back fill row 4: u[4]=v[5], v[4] = u[5] - q[5] * v[5]'

'back fill row 3: u[3]=v[4], v[3] = u[4] - q[4] * v[4]'

'back fill row 2: u[2]=v[3], v[2] = u[3] - q[3] * v[3]'

'back fill row 1: u[1]=v[2], v[1] = u[2] - q[2] * v[2]'

The greatest common divisor is `soln.loc[soln.shape[0] - 2, 'r']`.

In [8]:
gcd = soln.loc[soln.shape[0] - 2, 'r']

gcd

79

Bezout's identity states that `soln.loc[i + 1, 'u'] * soln.loc[i, 'r'] + soln.loc[i + 1, 'v'] * soln.loc[i + 1, 'r'] = gcd` for `i = 0 ... soln.shape[0]-1`. We can confirm this.

In [9]:
lin_relns = [
    soln.loc[i + 1, 'u'] * soln.loc[i, 'r'] + soln.loc[i + 1, 'v'] * soln.loc[i + 1, 'r'] 
    for i in range(soln.shape[0] - 1)]

lin_relns

[79, 79, 79, 79, 79, 79, 79, 79]

In [10]:
assert np.all(lin_relns == gcd)

In particular, for `u = soln.loc[1, 'u']` and `v = soln.loc[1, 'v']` we have `gcd = u * a + v * b` for our original `a, b`.

In [11]:
u = soln.loc[1, 'u']

u

-88

In [12]:
v = soln.loc[1, 'v']

v

757

In [13]:
assert u * a + v * b == gcd



An animation of these steps (without sound or commentary) is available [here](https://youtu.be/PaWybiMHUGg).