# Pandas/Polars Rosetta Stone

In [our book](https://win-vector.com/practical-data-science-with-r/), we shared a "Rosetta stone" of common data operations in R, using base R, `data.table` and `dplyr`.
Here, we are sharing a similar Rosetta stone for Python, between `pandas` and `polars`.

We'll work mostly on the [Penguins dataset](https://allisonhorst.github.io/palmerpenguins/) ([Pypi link](https://pypi.org/project/palmerpenguins/)),
with a few small toy frames towards the end.

* [Handy polars reference](https://pola-rs.github.io/polars-book/user-guide/introduction.html).
* [Polars API reference](https://pola-rs.github.io/polars/py-polars/html/reference/index.html)

In [1]:
import numpy as np
import pandas as pd
import polars as pl

from palmerpenguins import load_penguins

In [2]:
print(f'pandas version {pd.__version__}')
print(f'polars version {pl.__version__}')

pandas version 1.4.4
polars version 0.17.0

## Load the data

Penguins dataset

### pandas

In [3]:
peng_pd = load_penguins()
peng_pd

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

### polars

In [4]:
peng_pl = pl.from_pandas(peng_pd)
peng_pl

shape: (344, 8)
┌───────────┬───────────┬──────────────┬──────────────┬──────────────┬─────────────┬────────┬──────┐
│ species   ┆ island    ┆ bill_length_ ┆ bill_depth_m ┆ flipper_leng ┆ body_mass_g ┆ sex    ┆ year │
│ ---       ┆ ---       ┆ mm           ┆ m            ┆ th_mm        ┆ ---         ┆ ---    ┆ ---  │
│ str       ┆ str       ┆ ---          ┆ ---          ┆ ---          ┆ f64         ┆ str    ┆ i64  │
│           ┆           ┆ f64          ┆ f64          ┆ f64          ┆             ┆        ┆      │
╞═══════════╪═══════════╪══════════════╪══════════════╪══════════════╪═════════════╪════════╪══════╡
│ Adelie    ┆ Torgersen ┆ 39.1         ┆ 18.7         ┆ 181.0        ┆ 3750.0      ┆ male   ┆ 2007 │
│ Adelie    ┆ Torgersen ┆ 39.5         ┆ 17.4         ┆ 186.0        ┆ 3800.0      ┆ female ┆ 2007 │
│ Adelie    ┆ Torgersen ┆ 40.3         ┆ 18.0         ┆ 195.0        ┆ 3250.0      ┆ female ┆ 2007 │
│ Adelie    ┆ Torgersen ┆ null         ┆ null         ┆ null         ┆ null        ┆ null   ┆ 2007 │
│ …         ┆ …         ┆ …            ┆ …            ┆ …            ┆ …           ┆ …      ┆ …    │
│ Chinstrap ┆ Dream     ┆ 43.5         ┆ 18.1         ┆ 202.0        ┆ 3400.0      ┆ female ┆ 2009 │
│ Chinstrap ┆ Dream     ┆ 49.6         ┆ 18.2         ┆ 193.0        ┆ 3775.0      ┆ male   ┆ 2009 │
│ Chinstrap ┆ Dream     ┆ 50.8         ┆ 19.0         ┆ 210.0        ┆ 4100.0      ┆ male   ┆ 2009 │
│ Chinstrap ┆ Dream     ┆ 50.2         ┆ 18.7         ┆ 198.0        ┆ 3775.0      ┆ female ┆ 2009 │
└───────────┴───────────┴──────────────┴──────────────┴──────────────┴─────────────┴────────┴──────┘

## Inspect the data frame 

### pandas

In [5]:
print(peng_pd.shape)
print (peng_pd.columns)
peng_pd.describe()

(344, 8)
Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

### polars

In [6]:
print(peng_pl.shape)
print(peng_pl.columns)
peng_pl.describe()

(344, 8)
['species', 'island', 'bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g', 'sex', 'year']

shape: (7, 9)
┌────────────┬─────────┬───────────┬────────────┬───┬────────────┬───────────┬────────┬────────────┐
│ describe   ┆ species ┆ island    ┆ bill_lengt ┆ … ┆ flipper_le ┆ body_mass ┆ sex    ┆ year       │
│ ---        ┆ ---     ┆ ---       ┆ h_mm       ┆   ┆ ngth_mm    ┆ _g        ┆ ---    ┆ ---        │
│ str        ┆ str     ┆ str       ┆ ---        ┆   ┆ ---        ┆ ---       ┆ str    ┆ f64        │
│            ┆         ┆           ┆ f64        ┆   ┆ f64        ┆ f64       ┆        ┆            │
╞════════════╪═════════╪═══════════╪════════════╪═══╪════════════╪═══════════╪════════╪════════════╡
│ count      ┆ 344     ┆ 344       ┆ 344.0      ┆ … ┆ 344.0      ┆ 344.0     ┆ 344    ┆ 344.0      │
│ null_count ┆ 0       ┆ 0         ┆ 2.0        ┆ … ┆ 2.0        ┆ 2.0       ┆ 11     ┆ 0.0        │
│ mean       ┆ null    ┆ null      ┆ 43.92193   ┆ … ┆ 200.915205 ┆ 4201.7543 ┆ null   ┆ 2008.02907 │
│            ┆         ┆           ┆            ┆   ┆            ┆ 86        ┆        ┆            │
│ std        ┆ null    ┆ null      ┆ 5.459584   ┆ … ┆ 14.061714  ┆ 801.95453 ┆ null   ┆ 0.818356   │
│            ┆         ┆           ┆            ┆   ┆            ┆ 6         ┆        ┆            │
│ min        ┆ Adelie  ┆ Biscoe    ┆ 32.1       ┆ … ┆ 172.0      ┆ 2700.0    ┆ female ┆ 2007.0     │
│ max        ┆ Gentoo  ┆ Torgersen ┆ 59.6       ┆ … ┆ 231.0      ┆ 6300.0    ┆ male   ┆ 2009.0     │
│ median     ┆ null    ┆ null      ┆ 44.45      ┆ … ┆ 197.0      ┆ 4050.0    ┆ null   ┆ 2008.0     │
└────────────┴─────────┴───────────┴────────────┴───┴────────────┴───────────┴────────┴────────────┘

## Select a column

### pandas

Selecting a column returns a `pandas.Series`

In [7]:
# select a series
peng_pd['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

### polars

You can select with indexing, but expressions are the preferred way, because this allows lazy evaluation.

In [8]:
peng_pl.select('species')

shape: (344, 1)
┌───────────┐
│ species   │
│ ---       │
│ str       │
╞═══════════╡
│ Adelie    │
│ Adelie    │
│ Adelie    │
│ Adelie    │
│ …         │
│ Chinstrap │
│ Chinstrap │
│ Chinstrap │
│ Chinstrap │
└───────────┘

## Select a subset 

That is, rows and columns.

### pandas

In [9]:
# select a subset
peng_pd.loc[peng_pd['species']=='Chinstrap', ['species', 'island','body_mass_g']].reset_index(drop=True, inplace=False)

      species island  body_mass_g
0   Chinstrap  Dream       3500.0
1   Chinstrap  Dream       3900.0
2   Chinstrap  Dream       3650.0
3   Chinstrap  Dream       3525.0
4   Chinstrap  Dream       3725.0
..        ...    ...          ...
63  Chinstrap  Dream       4000.0
64  Chinstrap  Dream       3400.0
65  Chinstrap  Dream       3775.0
66  Chinstrap  Dream       4100.0
67  Chinstrap  Dream       3775.0

[68 rows x 3 columns]

### polars

In [10]:
peng_pl.filter(pl.col('species')=='Chinstrap').select(['species', 'island','body_mass_g'])

shape: (68, 3)
┌───────────┬────────┬─────────────┐
│ species   ┆ island ┆ body_mass_g │
│ ---       ┆ ---    ┆ ---         │
│ str       ┆ str    ┆ f64         │
╞═══════════╪════════╪═════════════╡
│ Chinstrap ┆ Dream  ┆ 3500.0      │
│ Chinstrap ┆ Dream  ┆ 3900.0      │
│ Chinstrap ┆ Dream  ┆ 3650.0      │
│ Chinstrap ┆ Dream  ┆ 3525.0      │
│ …         ┆ …      ┆ …           │
│ Chinstrap ┆ Dream  ┆ 3400.0      │
│ Chinstrap ┆ Dream  ┆ 3775.0      │
│ Chinstrap ┆ Dream  ┆ 4100.0      │
│ Chinstrap ┆ Dream  ┆ 3775.0      │
└───────────┴────────┴─────────────┘

## Columns as functions of other columns 

Multiply two columns together and put the result back in the frame.

### pandas

In [11]:

peng_pd['bill_volume'] = peng_pd['bill_length_mm']*peng_pd['bill_depth_mm']
peng_pd

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_volume
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,731.17
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,687.30
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,725.40
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,708.31
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,1104.84
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,787.35
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,902.72
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,965.20
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,938.74

### polars

In [12]:
peng_pl = peng_pl.with_columns([
    (pl.col('bill_length_mm') * pl.col('bill_depth_mm')).alias('biil_volume')
])

peng_pl

shape: (344, 9)
┌───────────┬───────────┬────────────┬────────────┬───┬──────────────┬────────┬──────┬─────────────┐
│ species   ┆ island    ┆ bill_lengt ┆ bill_depth ┆ … ┆ body_mass_g  ┆ sex    ┆ year ┆ biil_volume │
│ ---       ┆ ---       ┆ h_mm       ┆ _mm        ┆   ┆ ---          ┆ ---    ┆ ---  ┆ ---         │
│ str       ┆ str       ┆ ---        ┆ ---        ┆   ┆ f64          ┆ str    ┆ i64  ┆ f64         │
│           ┆           ┆ f64        ┆ f64        ┆   ┆              ┆        ┆      ┆             │
╞═══════════╪═══════════╪════════════╪════════════╪═══╪══════════════╪════════╪══════╪═════════════╡
│ Adelie    ┆ Torgersen ┆ 39.1       ┆ 18.7       ┆ … ┆ 3750.0       ┆ male   ┆ 2007 ┆ 731.17      │
│ Adelie    ┆ Torgersen ┆ 39.5       ┆ 17.4       ┆ … ┆ 3800.0       ┆ female ┆ 2007 ┆ 687.3       │
│ Adelie    ┆ Torgersen ┆ 40.3       ┆ 18.0       ┆ … ┆ 3250.0       ┆ female ┆ 2007 ┆ 725.4       │
│ Adelie    ┆ Torgersen ┆ null       ┆ null       ┆ … ┆ null         ┆ null   ┆ 2007 ┆ null        │
│ …         ┆ …         ┆ …          ┆ …          ┆ … ┆ …            ┆ …      ┆ …    ┆ …           │
│ Chinstrap ┆ Dream     ┆ 43.5       ┆ 18.1       ┆ … ┆ 3400.0       ┆ female ┆ 2009 ┆ 787.35      │
│ Chinstrap ┆ Dream     ┆ 49.6       ┆ 18.2       ┆ … ┆ 3775.0       ┆ male   ┆ 2009 ┆ 902.72      │
│ Chinstrap ┆ Dream     ┆ 50.8       ┆ 19.0       ┆ … ┆ 4100.0       ┆ male   ┆ 2009 ┆ 965.2       │
│ Chinstrap ┆ Dream     ┆ 50.2       ┆ 18.7       ┆ … ┆ 3775.0       ┆ female ┆ 2009 ┆ 938.74      │
└───────────┴───────────┴────────────┴────────────┴───┴──────────────┴────────┴──────┴─────────────┘

## Add a literal (constant) column 

### pandas

In [13]:
peng_pd['str_constant'] = "howdy"
peng_pd

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_volume,str_constant
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,731.17,howdy
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,687.30,howdy
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,725.40,howdy
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,howdy
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,708.31,howdy
...,...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,1104.84,howdy
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,787.35,howdy
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,902.72,howdy
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,965.20,howdy
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,938.74,howdy

### polars

In [14]:
peng_pl = peng_pl.with_columns([
    pl.lit("howdy").alias('str_constant')
])

peng_pl

shape: (344, 10)
┌───────────┬───────────┬────────────┬────────────┬───┬────────┬──────┬───────────────┬────────────┐
│ species   ┆ island    ┆ bill_lengt ┆ bill_depth ┆ … ┆ sex    ┆ year ┆ biil_volume   ┆ str_consta │
│ ---       ┆ ---       ┆ h_mm       ┆ _mm        ┆   ┆ ---    ┆ ---  ┆ ---           ┆ nt         │
│ str       ┆ str       ┆ ---        ┆ ---        ┆   ┆ str    ┆ i64  ┆ f64           ┆ ---        │
│           ┆           ┆ f64        ┆ f64        ┆   ┆        ┆      ┆               ┆ str        │
╞═══════════╪═══════════╪════════════╪════════════╪═══╪════════╪══════╪═══════════════╪════════════╡
│ Adelie    ┆ Torgersen ┆ 39.1       ┆ 18.7       ┆ … ┆ male   ┆ 2007 ┆ 731.17        ┆ howdy      │
│ Adelie    ┆ Torgersen ┆ 39.5       ┆ 17.4       ┆ … ┆ female ┆ 2007 ┆ 687.3         ┆ howdy      │
│ Adelie    ┆ Torgersen ┆ 40.3       ┆ 18.0       ┆ … ┆ female ┆ 2007 ┆ 725.4         ┆ howdy      │
│ Adelie    ┆ Torgersen ┆ null       ┆ null       ┆ … ┆ null   ┆ 2007 ┆ null          ┆ howdy      │
│ …         ┆ …         ┆ …          ┆ …          ┆ … ┆ …      ┆ …    ┆ …             ┆ …          │
│ Chinstrap ┆ Dream     ┆ 43.5       ┆ 18.1       ┆ … ┆ female ┆ 2009 ┆ 787.35        ┆ howdy      │
│ Chinstrap ┆ Dream     ┆ 49.6       ┆ 18.2       ┆ … ┆ male   ┆ 2009 ┆ 902.72        ┆ howdy      │
│ Chinstrap ┆ Dream     ┆ 50.8       ┆ 19.0       ┆ … ┆ male   ┆ 2009 ┆ 965.2         ┆ howdy      │
│ Chinstrap ┆ Dream     ┆ 50.2       ┆ 18.7       ┆ … ┆ female ┆ 2009 ┆ 938.74        ┆ howdy      │
└───────────┴───────────┴────────────┴────────────┴───┴────────┴──────┴───────────────┴────────────┘

## Add a new non-constant column

In [15]:
rng = np.random.default_rng()
rvec = rng.uniform(size=peng_pl.shape[0])

### pandas

In [16]:
peng_pd['rvec'] = rvec
peng_pd

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,bill_volume,str_constant,rvec
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,731.17,howdy,0.424959
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,687.30,howdy,0.656069
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,725.40,howdy,0.036082
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,howdy,0.532295
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,708.31,howdy,0.920768
...,...,...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,1104.84,howdy,0.971667
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,787.35,howdy,0.930767
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,902.72,howdy,0.133252
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,965.20,howdy,0.900878
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,938.74,howdy,0.417860

### polars

In [17]:
# https://stackoverflow.com/questions/72245243/polars-how-to-add-a-column-with-numerical

peng_pl = peng_pl.with_columns([
    pl.Series(name='rvec', values=rvec)
])
peng_pl

shape: (344, 11)
┌───────────┬───────────┬────────────┬────────────┬───┬──────┬───────────┬──────────────┬──────────┐
│ species   ┆ island    ┆ bill_lengt ┆ bill_depth ┆ … ┆ year ┆ biil_volu ┆ str_constant ┆ rvec     │
│ ---       ┆ ---       ┆ h_mm       ┆ _mm        ┆   ┆ ---  ┆ me        ┆ ---          ┆ ---      │
│ str       ┆ str       ┆ ---        ┆ ---        ┆   ┆ i64  ┆ ---       ┆ str          ┆ f64      │
│           ┆           ┆ f64        ┆ f64        ┆   ┆      ┆ f64       ┆              ┆          │
╞═══════════╪═══════════╪════════════╪════════════╪═══╪══════╪═══════════╪══════════════╪══════════╡
│ Adelie    ┆ Torgersen ┆ 39.1       ┆ 18.7       ┆ … ┆ 2007 ┆ 731.17    ┆ howdy        ┆ 0.424959 │
│ Adelie    ┆ Torgersen ┆ 39.5       ┆ 17.4       ┆ … ┆ 2007 ┆ 687.3     ┆ howdy        ┆ 0.656069 │
│ Adelie    ┆ Torgersen ┆ 40.3       ┆ 18.0       ┆ … ┆ 2007 ┆ 725.4     ┆ howdy        ┆ 0.036082 │
│ Adelie    ┆ Torgersen ┆ null       ┆ null       ┆ … ┆ 2007 ┆ null      ┆ howdy        ┆ 0.532295 │
│ …         ┆ …         ┆ …          ┆ …          ┆ … ┆ …    ┆ …         ┆ …            ┆ …        │
│ Chinstrap ┆ Dream     ┆ 43.5       ┆ 18.1       ┆ … ┆ 2009 ┆ 787.35    ┆ howdy        ┆ 0.930767 │
│ Chinstrap ┆ Dream     ┆ 49.6       ┆ 18.2       ┆ … ┆ 2009 ┆ 902.72    ┆ howdy        ┆ 0.133252 │
│ Chinstrap ┆ Dream     ┆ 50.8       ┆ 19.0       ┆ … ┆ 2009 ┆ 965.2     ┆ howdy        ┆ 0.900878 │
│ Chinstrap ┆ Dream     ┆ 50.2       ┆ 18.7       ┆ … ┆ 2009 ┆ 938.74    ┆ howdy        ┆ 0.41786  │
└───────────┴───────────┴────────────┴────────────┴───┴──────┴───────────┴──────────────┴──────────┘

## Aggregate by group 

### pandas

In [18]:
massf_pd = (
    peng_pd.groupby('species')[['body_mass_g']]
           .mean()
           .reset_index(drop=False, inplace=False)
)
massf_pd

     species  body_mass_g
0     Adelie  3700.662252
1  Chinstrap  3733.088235
2     Gentoo  5076.016260

### polars

In [19]:
massf_pl = (
    peng_pl.groupby('species')
           .agg([
                 pl.col('body_mass_g').mean()
            ])
)

massf_pl

shape: (3, 2)
┌───────────┬─────────────┐
│ species   ┆ body_mass_g │
│ ---       ┆ ---         │
│ str       ┆ f64         │
╞═══════════╪═════════════╡
│ Gentoo    ┆ 5076.01626  │
│ Chinstrap ┆ 3733.088235 │
│ Adelie    ┆ 3700.662252 │
└───────────┴─────────────┘

## Aggregate by group, order by columns 

Mean body mass by species and sex, order by species and sex.

### pandas

In [20]:
massf2_pd = ( 
    peng_pd.groupby(['species', 'sex'])[['body_mass_g']]
                   .mean()
                   .sort_values(by=['species', 'sex'])
                   .reset_index(drop=False, inplace=False)
)
massf2_pd

     species     sex  body_mass_g
0     Adelie  female  3368.835616
1     Adelie    male  4043.493151
2  Chinstrap  female  3527.205882
3  Chinstrap    male  3938.970588
4     Gentoo  female  4679.741379
5     Gentoo    male  5484.836066

### polars

Notice that polars also aggregates the rows with missing sex, which pandas quietly dropped.

In [21]:
massf2_pl = (
    peng_pl.groupby(['species', 'sex'])
        .agg([
                 pl.col('body_mass_g').mean()
            ])
)

massf2_pl

shape: (8, 3)
┌───────────┬────────┬─────────────┐
│ species   ┆ sex    ┆ body_mass_g │
│ ---       ┆ ---    ┆ ---         │
│ str       ┆ str    ┆ f64         │
╞═══════════╪════════╪═════════════╡
│ Chinstrap ┆ male   ┆ 3938.970588 │
│ Adelie    ┆ null   ┆ 3540.0      │
│ Chinstrap ┆ female ┆ 3527.205882 │
│ Gentoo    ┆ male   ┆ 5484.836066 │
│ Adelie    ┆ female ┆ 3368.835616 │
│ Adelie    ┆ male   ┆ 4043.493151 │
│ Gentoo    ┆ null   ┆ 4587.5      │
│ Gentoo    ┆ female ┆ 4679.741379 │
└───────────┴────────┴─────────────┘

Let's drop the nulls and put it in a better order.
[Reference for missing data handling](https://towardsdatascience.com/data-cleansing-in-polars-f9314ea04a8e)

In [22]:

massf2_pl = (
    peng_pl.groupby(['species', 'sex'])
        .agg([
                 pl.col('body_mass_g').mean()
            ])
        .drop_nulls()
        .sort(by=['species', 'sex'])
)

massf2_pl

shape: (6, 3)
┌───────────┬────────┬─────────────┐
│ species   ┆ sex    ┆ body_mass_g │
│ ---       ┆ ---    ┆ ---         │
│ str       ┆ str    ┆ f64         │
╞═══════════╪════════╪═════════════╡
│ Adelie    ┆ female ┆ 3368.835616 │
│ Adelie    ┆ male   ┆ 4043.493151 │
│ Chinstrap ┆ female ┆ 3527.205882 │
│ Chinstrap ┆ male   ┆ 3938.970588 │
│ Gentoo    ┆ female ┆ 4679.741379 │
│ Gentoo    ┆ male   ┆ 5484.836066 │
└───────────┴────────┴─────────────┘

## Melts and Casts (AKA pivot and unpivot)

### pandas

**Cast**: going from "long" to "wide" (which is kinda the backwards direction, but the data is already long).

In [23]:
wide_bm = massf2_pd.pivot(index='species', columns='sex', values='body_mass_g').reset_index(drop=False, inplace=False)
wide_bm.columns = wide_bm.columns.values # to get rid of the nesting on column index
wide_bm

     species       female         male
0     Adelie  3368.835616  4043.493151
1  Chinstrap  3527.205882  3938.970588
2     Gentoo  4679.741379  5484.836066

**Melt: Wide to long.**

In [24]:
longf = wide_bm.melt(id_vars=['species'], 
                     value_vars=['female', 'male'],
                     var_name='sex', 
                     value_name='body_mass')
longf

     species     sex    body_mass
0     Adelie  female  3368.835616
1  Chinstrap  female  3527.205882
2     Gentoo  female  4679.741379
3     Adelie    male  4043.493151
4  Chinstrap    male  3938.970588
5     Gentoo    male  5484.836066

### polars

**Cast**

In [25]:
wide_bm = massf2_pl.pivot(index='species', columns='sex', values='body_mass_g')
wide_bm

shape: (3, 3)
┌───────────┬─────────────┬─────────────┐
│ species   ┆ female      ┆ male        │
│ ---       ┆ ---         ┆ ---         │
│ str       ┆ f64         ┆ f64         │
╞═══════════╪═════════════╪═════════════╡
│ Adelie    ┆ 3368.835616 ┆ 4043.493151 │
│ Chinstrap ┆ 3527.205882 ┆ 3938.970588 │
│ Gentoo    ┆ 4679.741379 ┆ 5484.836066 │
└───────────┴─────────────┴─────────────┘

**Melt**

In [26]:
longf = wide_bm.melt(id_vars=['species'], 
                     value_vars=['female', 'male'],
                     variable_name='sex', 
                     value_name='body_mass')
longf

shape: (6, 3)
┌───────────┬────────┬─────────────┐
│ species   ┆ sex    ┆ body_mass   │
│ ---       ┆ ---    ┆ ---         │
│ str       ┆ str    ┆ f64         │
╞═══════════╪════════╪═════════════╡
│ Adelie    ┆ female ┆ 3368.835616 │
│ Chinstrap ┆ female ┆ 3527.205882 │
│ Gentoo    ┆ female ┆ 4679.741379 │
│ Adelie    ┆ male   ┆ 4043.493151 │
│ Chinstrap ┆ male   ┆ 3938.970588 │
│ Gentoo    ┆ male   ┆ 5484.836066 │
└───────────┴────────┴─────────────┘

## Frame concatenation: `rbind`

E.g. concatenate frames vertically.

In [27]:
apd = pd.DataFrame({
    'name': ['Aya', 'Bob', 'Carlos'],
    'age': [39, 22, 56]
})

apl = pl.from_pandas(apd)

# handy that the notation is the same
bpl = pl.DataFrame({
    'name': ['Dev', 'Elsa', 'Fumi'],
    'age' : [15, 28, 43]
})

bpd = bpl.to_pandas()


cpd = pd.DataFrame({
    'state': ['CA', 'NV', 'NY'],
    'city': ['San Francisco', 'Las Vegas', 'New York City']
})

cpl = pl.from_pandas(cpd)

### pandas

In [28]:
pd.concat([apd, bpd], ignore_index=True)

     name  age
0     Aya   39
1     Bob   22
2  Carlos   56
3     Dev   15
4    Elsa   28
5    Fumi   43

### polars

In [29]:
pl.concat([apl, bpl])

shape: (6, 2)
┌────────┬─────┐
│ name   ┆ age │
│ ---    ┆ --- │
│ str    ┆ i64 │
╞════════╪═════╡
│ Aya    ┆ 39  │
│ Bob    ┆ 22  │
│ Carlos ┆ 56  │
│ Dev    ┆ 15  │
│ Elsa   ┆ 28  │
│ Fumi   ┆ 43  │
└────────┴─────┘

## Frame concatenation: `cbind` 

E.g. concatenate frames horizontally

### pandas

In [30]:
pd.concat([apd, cpd], axis=1)

     name  age state           city
0     Aya   39    CA  San Francisco
1     Bob   22    NV      Las Vegas
2  Carlos   56    NY  New York City

### polars

In [31]:
pl.concat([apl, cpl], how='horizontal')

shape: (3, 4)
┌────────┬─────┬───────┬───────────────┐
│ name   ┆ age ┆ state ┆ city          │
│ ---    ┆ --- ┆ ---   ┆ ---           │
│ str    ┆ i64 ┆ str   ┆ str           │
╞════════╪═════╪═══════╪═══════════════╡
│ Aya    ┆ 39  ┆ CA    ┆ San Francisco │
│ Bob    ┆ 22  ┆ NV    ┆ Las Vegas     │
│ Carlos ┆ 56  ┆ NY    ┆ New York City │
└────────┴─────┴───────┴───────────────┘

## Join

In [32]:
cpd['name'] = ['Bob', 'Carlos', 'Aya']
cpl = pl.from_pandas(cpd)
cpl

shape: (3, 3)
┌───────┬───────────────┬────────┐
│ state ┆ city          ┆ name   │
│ ---   ┆ ---           ┆ ---    │
│ str   ┆ str           ┆ str    │
╞═══════╪═══════════════╪════════╡
│ CA    ┆ San Francisco ┆ Bob    │
│ NV    ┆ Las Vegas     ┆ Carlos │
│ NY    ┆ New York City ┆ Aya    │
└───────┴───────────────┴────────┘

### pandas

In [33]:
apd.merge(
    cpd, 
    on = ['name'],
    how = 'left'
)

     name  age state           city
0     Aya   39    NY  New York City
1     Bob   22    CA  San Francisco
2  Carlos   56    NV      Las Vegas

### polars

In [34]:
apl.join(
    cpl,
    on = ['name'],
    how = 'left'
)

shape: (3, 4)
┌────────┬─────┬───────┬───────────────┐
│ name   ┆ age ┆ state ┆ city          │
│ ---    ┆ --- ┆ ---   ┆ ---           │
│ str    ┆ i64 ┆ str   ┆ str           │
╞════════╪═════╪═══════╪═══════════════╡
│ Aya    ┆ 39  ┆ NY    ┆ New York City │
│ Bob    ┆ 22  ┆ CA    ┆ San Francisco │
│ Carlos ┆ 56  ┆ NV    ┆ Las Vegas     │
└────────┴─────┴───────┴───────────────┘

## Rename 

### pandas

In [35]:
bpd

   name  age
0   Dev   15
1  Elsa   28
2  Fumi   43

In [36]:
bpd.rename(columns={'name': 'nombre'})

  nombre  age
0    Dev   15
1   Elsa   28
2   Fumi   43

### polars

In [37]:
bpl

shape: (3, 2)
┌──────┬─────┐
│ name ┆ age │
│ ---  ┆ --- │
│ str  ┆ i64 │
╞══════╪═════╡
│ Dev  ┆ 15  │
│ Elsa ┆ 28  │
│ Fumi ┆ 43  │
└──────┴─────┘

In [38]:
bpl.rename({'name': 'nombre'})

shape: (3, 2)
┌────────┬─────┐
│ nombre ┆ age │
│ ---    ┆ --- │
│ str    ┆ i64 │
╞════════╪═════╡
│ Dev    ┆ 15  │
│ Elsa   ┆ 28  │
│ Fumi   ┆ 43  │
└────────┴─────┘

## if-else 

### pandas

In [39]:
apd

     name  age
0     Aya   39
1     Bob   22
2  Carlos   56

In [40]:
apd['over_30'] = np.where(apd['age'] > 30, 'yes', 'no')
apd

     name  age over_30
0     Aya   39     yes
1     Bob   22      no
2  Carlos   56     yes

### polars

In [41]:
apl

shape: (3, 2)
┌────────┬─────┐
│ name   ┆ age │
│ ---    ┆ --- │
│ str    ┆ i64 │
╞════════╪═════╡
│ Aya    ┆ 39  │
│ Bob    ┆ 22  │
│ Carlos ┆ 56  │
└────────┴─────┘

In [42]:
apl.with_columns([
    pl.when(pl.col('age') > 30).then('yes').otherwise('no').alias('over_30')
])

shape: (3, 3)
┌────────┬─────┬─────────┐
│ name   ┆ age ┆ over_30 │
│ ---    ┆ --- ┆ ---     │
│ str    ┆ i64 ┆ str     │
╞════════╪═════╪═════════╡
│ Aya    ┆ 39  ┆ yes     │
│ Bob    ┆ 22  ┆ no      │
│ Carlos ┆ 56  ┆ yes     │
└────────┴─────┴─────────┘

Both will accept column arguments.

In [43]:
apd['over_30'] = np.where(apd['age'] > 30, 'yes', apd['name'])
apd

     name  age over_30
0     Aya   39     yes
1     Bob   22     Bob
2  Carlos   56     yes

In [44]:
apl.with_columns([
    pl.when(pl.col('age') > 30).then('yes').otherwise(pl.col('name')).alias('over_30')
])

shape: (3, 3)
┌────────┬─────┬─────────┐
│ name   ┆ age ┆ over_30 │
│ ---    ┆ --- ┆ ---     │
│ str    ┆ i64 ┆ str     │
╞════════╪═════╪═════════╡
│ Aya    ┆ 39  ┆ yes     │
│ Bob    ┆ 22  ┆ Bob     │
│ Carlos ┆ 56  ┆ yes     │
└────────┴─────┴─────────┘

# Conclusion

That's it! From these you can start to build up just about any useful data wrangling operation. We will try to add more, as the need arises.